@import "src/assets/colors"
@import "/src/mixins/mixins"
@import "/src/mixins/adaptiveMixins"

.header
  display: flex
  padding: 20px 50px
  background: $dark-blue
  position: fixed
  width: 100vw
  z-index: 5

.logo
  display: flex
  gap: 3px
  height: 31px
  align-items: center

.textLogo
  align-items: end
  display: flex
  z-index: 10

.heartLogo
  width: 21px
  height: 21px
  z-index: 10

.links
  text-decoration: none
  color: white
  font-weight: 300
  font-size: 16px
  cursor: pointer
  @include tablet
    @include adaptive_font_tablet(12)

.popularButton
  background: transparent
  border: none
  padding: 0
  font-weight: 300
  cursor: pointer
  @include tablet
    @include adaptive_font_tablet(12)

.navigationContainer
  display: flex
  gap: 119px
  align-items: center

.navigation
  display: flex
  gap: 29px
  align-items: start
  z-index: 40

.searchContainer
  display: flex
  gap: 5px
  align-items: center
  cursor: pointer
  z-index: 10

.profileButton
  @include button()
  display: flex
  @include tablet
    @include adaptive_font_tablet(12)

.buttonInsides
  margin: 6px 20px
  align-items: center
  display: flex
  gap: 5px
  @include tablet
    margin: 4px 8px

.header
  display: flex
  justify-content: space-between

.buttonLogo
  width: 15px
  height: auto

.bottomLine
  height: 3px
  background: linear-gradient(90deg, $dark-blue 0%, $main-violet 50%, $dark-blue 100%)